body {
    font-family: 'Poppins', sans-serif;
    background: url('bg.png') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
    padding-bottom: 50px;
}
.container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 25px;
    max-width: 80%;
    margin: auto;
    border: 5px solid #008000;
    color: #333;
    margin-bottom: 50px;
}
h1 {
    color: #008000;
    font-size: 28px;
    font-weight: bold;
}
.details {
    font-size: 18px;
    margin: 12px 0;
    font-weight: 500;
}
a {
    color: #008000;
    text-decoration: none;
    font-weight: bold;
}
.footer {
    margin-top: 20px;
    font-style: italic;
    color: #555;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover {
    background-color: #005700;
}
